.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 15vh;
    margin-top: 18vh;
    overflow: hidden;
}

.innerhead{
    position: relative;
    font-size: 5rem;
    border-right: 10px solid black;
    animation: typing 2.5s steps(30),
    blink-caret .3s step-end infinite;
    text-wrap: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from{
        width: 0%;
    }
    to{
        width: 46%;
    }
}

@keyframes blink-caret {
    from,to{border-color: transparent;}
    50% {border-color: rgb(0, 0, 0);}
}



.mainhead{
    color: rgb(177 0 245);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    width: 100vw;
}

#todo {
    height: 8vh;
    width: 75%;
    outline: none;
    border-radius: 26px;
    padding: 0px 30px;
    font-size: 2rem;
    border: white 1px solid;
    box-shadow: 0px 1px 20px 0px #ede5e5;
    font-family: 'Times New Roman', Times, serif;
}

#add {
    height: 8vh;
    width: 100px;
    margin-left: 15px;
    border-radius: 26px;
    outline: none;
    font-size: 2rem;
    background-color: rgb(66 160 243);
    border: none;
    color: whitesmoke;
    font-family: cursive;
}

.btncontainer{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

#todo-success-alert {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 252, 187);
    border: 1px solid #12b412;
    color: #12b412;
    width: 90%;
    height: 8vh;
    font-size: 1.5rem;
    margin: auto;
    border-radius: 10px;
}

.link-todo {
    text-decoration: underline;
    color: #12b412;
}

#todo-error-alert {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 207 207);
    border: 1px solid #ee4040;
    color: #ee4040;
    width: 90%;
    height: 8vh;
    font-size: 1.5rem;
    margin: auto;
    border-radius: 10px;
}

.link-err {
    text-decoration: underline;
    color: #ee4040;
}

@media screen and (max-width: 1700px) {
    @keyframes typing {
        from{
            width: 0%;
        }
        to{
            width: 50%;
        }
    }
}
@media screen and (max-width: 1520px) {
    @keyframes typing {
        from{
            width: 0%;
        }
        to{
            width: 58%;
        }
    }
}
@media screen and (max-width: 1340px) {
    @keyframes typing {
        from{
            width: 0%;
        }
        to{
            width: 65%;
        }
    }
}
@media screen and (max-width: 1200px) {
    @keyframes typing {
        from{
            width: 0%;
        }
        to{
            width: 75%;
        }
    }
}
@media screen and (max-width: 1000px) {
    @keyframes typing {
        from{
            width: 0%;
        }
        to{
            width: 85%;
        }
    }
}


@media screen and (max-width: 900px) {
    .innerhead{
        font-size: 3rem;
    }
    #add{
        font-size: 1.5rem;
    }
    @keyframes typing {
        from{
            width: 0%;
        }
        to{
            width: 57%;
        }
    }
}

@media screen and (max-width: 770px) {
    @keyframes typing {
        from{
            width: 0%;
        }
        to{
            width: 70%;
        }
    }
}
@media screen and (max-width: 770px) {
    @keyframes typing {
        from{
            width: 0%;
        }
        to{
            width: 75%;
        }
    }
}

@media screen and (max-width: 630px) {
    .innerhead{
        font-size: 2rem;
    }
    #add{
        font-size: 1rem;
        margin: auto;
    }
    #todo-sucess-alert{
        font-size: 1rem;
    }
    #todo-error-alert{
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .innerhead{
        font-size: 2rem;

    }
    #add{
        font-size: 1rem;
        margin: auto;
    }
}
@media screen and (max-width: 350px) {
    .innerhead{
        font-size: 1.5rem;

    }
    #todo-sucess-alert{
        font-size: .6rem;
    }
    #todo-error-alert{
        font-size: .6rem;
    }
    @keyframes typing {
        from{
            width: 0%;
        }
        to{
            width: 75%;
        }
    }
}
